# Dependencies
node_modules/
*/node_modules/

# Expo / React Native
.expo/
*/.expo/
dist/
*/dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
# We keep .env.example but ignore sensitive local .env if needed, but for render we can keep .env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
